@model QIC.Areas.Admin.Models.HeaderM
@{
    ViewBag.Title = "GMMsg";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>GMMsg</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>Header Content</h4>*@
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2" for="LanguageID">Select Language</label>
            <div class="col-md-10">
                @Html.DropDownList("LanguageID", String.Empty)
                @Html.ValidationMessageFor(model => model.LanguageID)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="LanguageID">WebPage</label>
            <div class="col-md-10">
                <input class="text-box single-line" id="WebPageID" name="ContactTab" type="text" value="">
                @Html.ValidationMessageFor(model => model.WebPageID)
            </div>
        </div>
        @*<div class="form-group">
                <label class="control-label col-md-2" for="WebPageID">Select WebPage</label>
                <div class="col-md-10">
                    @Html.DropDownList("WebPageID", String.Empty)
                    @Html.ValidationMessageFor(model => model.WebPageID)
                </div>
            </div>*@

        <div class="form-group">
            <label class="control-label col-md-2" for="LanguageID">Content</label>
            <div class="col-md-10">
                <input class="text-box single-line" id="EnContent" name="HomeTab" type="text" value="">
                @Html.ValidationMessageFor(model => model.EnContent)
            </div>
        </div>
        @*<div class="form-group">
                <label class="control-label col-md-2" for="LanguageID">Language Content</label>
                <div class="col-md-10">
                    <input class="text-box single-line" id="LangContent" name="ContactTab" type="text" value="">
                    @Html.ValidationMessageFor(model => model.LangContent)
                </div>
            </div>*@


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}