@model IEnumerable<QIC.Areas.Admin.Models.WebPage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PageNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PageNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WebPageID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WebPageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WebPageID })
        </td>
    </tr>
}

</table>
